---
import Hero from "./ui/Hero.astro";
---

<style lang="scss">
  .section {
    padding-top: 115px;
    height: 45rem;
    padding-bottom: 104px;
    outline: blue solid 1px;
  }

  .bottom-border {
    margin: auto;
    border-bottom: 1px solid hsl(0, 0%, 100%);
    max-width: 1110px;
  }
</style>

<section class="section bottom-border">
  <div class="container">
    <Hero />
  </div>
</section>
