---
import Hero from "./ui/Hero.astro";
---

<style lang="scss">
  .section {
    padding-top: 115px;
    height: 45rem;
    padding-bottom: 104px;
    outline: blue solid 1px;
  }

  .bottom-border {
    border-bottom: 1px solid hsl(0, 0%, 100%);
  }
</style>

<section class="section">
  <div class="container bottom-border">
    <Hero />
  </div>
</section>
