<style>
    .logo {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
    }
    .logo span {
        color: var(--accent-yellow-10);
    }
</style>

<div class="logo">
    <span>JOHNNY</span> ESTRADA
</div>