<style lang="scss">
  .logo {
    font-size: 32px;
    font-weight: 700;

    a {
      color: white;
    }
    &-green {
      color: var(--primary-green-1);
    }
  }
</style>

<nav class="logo">
  <a href="/"><span class="logo-green">johnny</span>estrada</a>
</nav>
