<style>
    .logo {
        font-size: 32px;
        font-weight: 700;
    }
    .logo span {
        color: var(--primary-green-1);
    }
</style>

<div class="logo">
    <span>johnny</span>estrada
</div>