---

---
<style lang="scss">
    .links {
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 32px;
        font-size: 16px;
        margin-right: 51px;

        a {
            color: hsl(0, 0%, 100%);
        }
    }
</style>

<nav class="links">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a>Projects</a>
    <a>Contact</a>
</nav>